body{
  background-color: #0a0a0a;
  margin: 0 auto;
  padding:0 10%;
  max-width: 1200px;
}

h1 {
  font-family: Baskerville,serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  color: #fff;
}

.btn_med {
  width: 124px;
  height: 38px;
  border-radius: 5px;
  background-color: #f06666;
  color: #fff;
  border: none;
  font-family: Muli, sans-serif;
  font-size: 14px;
  font-weight: 300;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn_med:hover {
  filter:brightness(90%)
}